.background {
  background-image: url(../images/background-clouds.jpg);
  height: 900px;
}

.weather-list {
  list-style-type: none;
  font-size: 24px;
  padding-top: 10px;
}

.nav {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: lightslategrey;
  border-bottom: 2px solid black;
  color: black;
}

.search-div {
  margin-left: 5px;
  padding: 12px;
  border-right: 2px solid lightgray;
}

.current-weather {
  background-color: blanchedalmond;
  border: 1px solid grey;
  height: 300px;
  padding-right: 50px;
}

.card {
  background-color: blanchedalmond;
}

.icon {
  height: 50px;
  width: 50px;
}

.vert-align {
  height: 50px;
  line-height: 20px;
}

.city-input {
  margin: 3px;
  font-size: 22px;
}

.state-input {
  margin: 3px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.span-padding {
  padding: 0px 10px;
}

.current-weather-header {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 10px;
}

.current-weather-ul {
  padding-left: 10px;
}

.section-style {
  margin-left: 55px;
}

.search-history {
  margin-top: 20px;
  text-align: center;
}

.search {
  width: 80%;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.city-button {
  margin: 10px;
}

.clear-button {
  width: 80%;
  margin: 10px;
}
.text-center {
  text-align: center;
}
.width-div {
  width: 100%;
}
.clear-history {
  margin-top: 20px;
  text-align: center;
}

.search-btn-div {
  margin-top: 20px;
  text-align: center;
}

.five-day-header {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
  padding-bottom: 20px;
}

.cw-heading {
  text-decoration: underline;
  padding-left: 10px;
}

.uv-low {
  color: green;
}

.uv-med {
  color: orange;
}

.uv-high {
  color: red;
}

.uv-very-high {
  color: purple;
}

.uv-clear {
  color: black;
}

.font-color {
  color: black;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightslategrey;
  height: 40px;
  color: black;
  font-size: 13px;
  text-align: center;
  padding: 15px;
  border-top: 1px solid black;
}

.footer-links {
  color: white;
  text-decoration: none;
}
