.weather-list {
  list-style-type: none;
  font-size: 24px;
  padding-top: 30px;
}

.nav {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: lightskyblue;
  border-bottom: 2px solid lightslategray;
}

.search-div {
  margin-left: 5px;
  padding: 12px;
  border-right: 2px solid lightgray;
}

.current-weather {
  border: 1px solid grey;
  height: 250px;
  padding-right: 50px;
}

.icon {
  height: 50px;
  width: 50px;
}

.vert-align {
  height: 50px;
  line-height: 20px;
}

.city-input {
  margin: 3px;
}

.state-input {
  margin: 3px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.span-padding {
  padding: 0px 10px;
}

.current-weather-header {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}

.current-weather-ul {
  padding-left: 10px;
}

.section-style {
  margin-left: 55px;
}

.search-history {
  margin-top: 20px;
  text-align: center;
}

.city-button {
  width: 80%;
  margin: 10px;
}

.clear-history {
  margin-top: 20px;
  text-align: center;
}

.search {
  padding: 5px;
}
